.AboutMe {
    height: 120vh;
    text-align: center;
    color: #232D3F;
    background-color: #F1EFEF;
}

.AboutMe .skills {
    margin-right: 1rem;
}

.AboutMe header {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

header h2 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.AboutMe .tech-icon {
    height: 7rem;
}

.AboutMe .statement {
    line-height: 3.5rem;
    text-align: left;
    font-size: 1.3rem;
    margin-left: 3rem;
    font-style: italic;
}


@media(max-width: 780px) {
    .AboutMe .statement {
        line-height: 2.5rem;
        text-align: left;
        font-size: 1.3rem;
        margin: 0 2rem;
        margin-bottom: 7rem;
        font-style: italic;
    }

    .AboutMe .tech-icon {
        height: 6rem;
    }

    .AboutMe header {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px) {

    .AboutMe {
        height: 150vh;
    }

    .AboutMe .tech-icon {
        height: 5rem;
    }

    .AboutMe .skills {
        margin: 0 2rem;
    }
}

@media(max-width: 420px) {
    .AboutMe .statement {
        line-height: 2.5rem;
        text-align: left;
        font-size: 1rem;
        margin-bottom: 4rem;
        font-style: italic;
        margin-left: 2.5rem;
    }

    .AboutMe {
        height: 150vh;
    }

    .AboutMe .skills {
        margin: 0 2rem;
    }
}

@media(max-width: 2000px) {
    .AboutMe header {
        font-size: 6rem;
    }
}