.AboutMe {
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    text-align: center;
    color: #232D3F;
    background-color:#F1EFEF;
}

.AboutMe header {
    text-decoration: underline;
    text-underline-offset: 0.3rem;   
}

.AboutMe .tech-icon {
    height: 8rem;
}

.AboutMe .statement {
    line-height: 3.5rem;
    text-align: left;
    font-size: 1.3rem;
}
