.Footer {
    height: 15vmin;
    background-color: black;
    color: rgba(0, 129, 112, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer .nav-icon {
    height: 5rem;
}

.Footer span {
    font-size: 2.2rem;
}

@media(max-width: 768px) {
    .Footer .nav-icon {
        height: 4rem;
    }

    .Footer h2 {
        font-size: 1rem;
    }

    .Footer span {
        font-size: 1.2rem;
    }
}


@media(max-width: 440px) {
    .Footer .nav-icon {
        height: 1.5rem;
    }

    .Footer h2 {
        font-size: 0.8rem;
    }

    .Footer span {
        font-size: 1.2rem;
    }
}