.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #0F0F0F;
    font-size: 1.75rem;
    font-family: 'Young Serif', serif;
    position: sticky;
    top: 0;
}

.Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2rem 1.5rem;
    text-decoration: none;
    color: #008170;
  }
  
  .Navbar .active {
    background-color: #008170;
    color: white;
  }

  .Navbar .contact {
    margin-left: auto;
  }

  .Navbar .nav-link a:hover {
    color: white;
    background-color: #008170;
    cursor: grab;
  }