.Projects {
    height: 250vh;
    text-align: center;
    color: #0F0F0F;
    background-color: rgba(0, 129, 112, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Projects header {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    margin-bottom: 18vh;
}

.Projects .carousel-inner {
    border-radius: 20px;
}

.Projects .skills-row {
    margin: -2rem 5rem 5rem 5rem;
}

.Projects .card {
    height: 85vh;
    margin: 1rem;
}

.Projects .projects-btn {
    width: 20rem;
    background-color: #0F0F0F;
    color: rgba(0, 129, 112, 0.95);
    font-size: 1.5rem;
    transition: 0.5s;
    border: none;
}

.Projects .projects-btn:hover {
    background-color: rgba(0, 129, 112, 0.95);
    color: #0F0F0F;
}

@media(max-width: 768px) {
    .Projects {
        height: 350vh;
    }

    .Projects header {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        margin-top: 15vh;
    }

    .col-lg-6 {
        margin-bottom: 5rem;
    }

    .Projects .card {
        height: 75vh;
        margin: 1rem;
    }
}

@media(max-width: 600px) {
    .Projects {
        height: 350vh;
    }

    .col-lg-6 {
        margin-bottom: 5rem;
    }

    .Projects h2 {
        font-size: 3rem;
    }

    .Projects .card {
        height: 62vh;
        width: 80vw;
    }

    .Projects .projects-btn {
        width: 12rem;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .Projects .card-text {
        font-size: 0.8rem;
    }
}


@media(max-width: 420px) {
    .Projects {
        height: 350vh;
    }

    .col-lg-6 {
        margin-bottom: 5rem;
    }

    .Projects h2 {
        font-size: 3rem;
    }

    .Projects .card {
        height: 65vh;
        width: 80vw;
    }

    .Projects .projects-btn {
        width: 12rem;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .Projects .card-text {
        font-size: 0.8rem;
    }
}

@media(max-width: 395px) {
    .Projects {
        height: 360vh;
    }

    .col-lg-6 {
        margin-bottom: 5rem;
    }

    .Projects h2 {
        font-size: 3rem;
    }

    .Projects .card {
        height: 72vh;
        width: 80vw;
    }

    .Projects .projects-btn {
        width: 11rem;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .Projects .card-text {
        font-size: 0.8rem;
    }
}


@media(min-width: 1440px) {
    .Projects .projects-btn {
        margin-top: 2.2rem;
        width: 25rem;
        font-size: 2rem;
    }

    .Projects .card {
        height: 95vh;
    }
}