.Projects {
    height: 100vh;
    text-align: center;
    color: #232D3F;
    background-color: red;
}

.Projects header {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.Projects .skills-row {
    margin: -2rem 5rem 5rem 5rem;
}

.Projects .card {
    height: 30vh;

}