.Welcome {
    background-image: url('https://i.imgur.com/pXtEj77.jpg');
    background-size: cover;
    height: 100vmin;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Welcome h1 {
    margin-top: -50vmin;
    font-size: 4.5rem;
    color: rgba(0, 129, 112, 0.95);
}

@media (min-width: 768px) {
    .Welcome h1 {
        font-size: 5rem;
    }
}

@media (min-width: 992px) {
    .Welcome h1 {
        font-size: 6.5rem;
    }
}

@media (min-width: 1200px) {
    .Welcome h1 {
        font-size: 8rem;
    }
}