.Welcome {
    background-image: url('https://i.imgur.com/pXtEj77.jpg');
    background-size: cover;
    height: 100vmin;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Welcome h1 {
    margin-top: -40vmin;
    font-size: 8rem;
    color: rgba(0, 129, 112, 0.95);
}

